body{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
:root{
    --prim-color: #FFC080 ;
    --sec-color: #FFE0C0;
    --border-color: #f18110 ;
    --icon-color: coral;
}
.card { 
    position :relative;
    border:  4px solid var(--border-color);
    width: 253px;
    height: 240px;
    border-radius: 26px;
    z-index: -1;
    background-color: var(--prim-color)
}
.inner-box{
    position: relative;
    border-bottom:  4px solid var(--border-color);
    
    /* top: 26%; */
    z-index: 0;
    border-radius: 26px;
    width: 100%;
    height: 42%;
    background-color: var(--sec-color);
}
.pro-icon{
    position: relative;
    /* border:2px solid black; */
    z-index: 1;
    width:140px;
    border-radius: 50%;
    height: 140px;
    top: 15%;
    left: 20%;
    background-color: var(--icon-color);
}
.view-button{
    width: 150px;
    /* border: 2px solid black; */
    position: relative;
    left: 17%;
    top: 45%;
    border-radius : 30px;
    background-color: white;
    text-align: center;
}
.card-user-name{
    position: relative;
    text-align: center;
    top: 40%;
    color: black;
    font-size: 14px;
}