

*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --prim_font : "Copperplate Gothic", serif;
    --sec_font: "Century Gothic", sans-serif;
    --prim-color: white;
    --sec-color: black; 
    --btn-color: lightblue;
}
html,body{   
    width: 100vw;
    height: 100vh;
}
.community{
    display: flex;
    margin-top: 3vh;
    gap: 20px;
}
.searchBar{
    margin-top: 2rem;
    width: 59rem;
    border: 2px solid black;
    height: 6vh;
    display: flex;
    align-items: center;
    border-radius : 12rem;
    padding-left:2rem;
    font: bold 22px var(--sec_font) ; 
}
.askBtn{
    margin-top: 4vh;
    border-radius: 24px;
    height: 3rem;
    width: 12rem;
    color: var(--prim-color);
    background-color: var(--sec-color);
    font: 22px var(--sec_font) ; 
}