@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-std');

*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --prim_font : "Copperplate Gothic", serif;
    --sec_font: "Century Gothic", sans-serif;
    --prim-color: white;
    --sec-color: black; 
    --btn-color: lightblue;
}