@import url('https://fonts.cdnfonts.com/css/copperplate-gothic-std');

body{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --prim_font : "Copperplate Gothic", serif;
    --sec_font: "Century Gothic", sans-serif;
    --prim-color: white;
    --sec-color: black; 
    --btn-color: lightblue;
}
.container-LandingPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid black; */

}
.logo{
    width: 100px;
    min-height: 100px;
    display: block;
}

.title-landingpage{
    color: var(--sec_color);
    font-size: 96px;
    font-family: var(--prim_font);
    margin: 0;
}
.tagline{
    color: var(--sec_color);
    font-size: 35px;
    font-family: var(--sec_font);
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 100;
    
}
.signUp_btn{
    background-color: black;
    width: 220px;
    height : 70px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Century Gothic", sans-serif;
    font-weight: 400;
    color: white;
    border-radius : 50px;
    font-size: 29px;
    position: relative;
    top: 40px;
}
h1{
    display: block;
}

.test{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}