@import url("../../App.css");

*{
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid black; */
}
:root{
    --prim_font : "Copperplate Gothic", serif;
    --sec_font: "Poppins", sans-serif;
    --prim-color: white;
    --sec-color: black; 
    --btn-color: lightblue;
}
html,body{
    width: 100vw;
    height: 100vh;

}
.nav-container-transparent{
    /* border: 2px solid black; */
    padding-left: 20px;
    width: 100%;
    margin: auto;
    display: flex;
    height: 10vh;   
}

.nav-container-dark{
    /* border: 2px solid black; */
    padding-left: 20px;
    width: 100%;
    display: flex;
    height: 10vh; 
    background-color: var(--sec-color);  
}
.nav-left-transparent{
    width: 28%;
    /* border: 7px solid yellowgreen;    */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0; 
}
.nav-left-dark{   
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
}

.nav-logo-transparent{
    width: 10%;
    height: 80%;
    display: flex; 
    align-items: center;
    /* border : 1px solid black; */
}
.nav-logo-dark{
    width: 10%;
    height: 80%;
    display: flex; 
    align-items: center;
    /* border : 1px solid white; */
}
.nav-title-transparent{
    width: 80%;
    /* background-color: black; */
    height: 100%;
    display: flex; 
    align-items: center;
    font: bold 40px var(--prim_font);
    padding-left: 1rem;    
}

.nav-title-dark{
    width: 80%;
    /* background-color: black; */
    height: 100%;
    display: flex; 
    align-items: center;
    font: bold 40px var(--prim_font);
    padding-left: 1rem;
    color: var(--prim-color);   
}


.search-Bar-transparent{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* border: 2px solid black; */
}
.search-Bar-dark{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.bar-transparent{
    width : 100%;
    display: flex;
    align-items: center;    
    height: 60%;
    font: bold 20px var(--sec_font);
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
}

.bar-dark{
    width : 100%;
    display: flex;
    align-items: center;    
    height: 60%;
    font: bold 20px var(--sec_font);
    border: 2px solid white;
    border-radius: 20px;
    padding-left: 20px;
    background-color: var(--prim-color);
}
.nav-right-transparent{
    display: flex;
    /* border: 7px solid yellowgreen;    */
    align-items: center;
    width : 33%;
    display: flex;
}

.nav-right-dark{
    display: flex;
    align-items: center;
    width : 33%;
    display: flex;
    color: var(--prim-color)
}
.list-transparent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;      
    font: bold 20px var(--sec_font);
    height: 100%;
    /* border: 2px solid black; */
}

.list-dark{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;      
    font: bold 20px var(--sec_font);
    height: 100%;
    /* border: 2px solid black; */
}
#item-active{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 6px;
    cursor: pointer;

}
.profile-icon{
    border: 2px solid white;
    width:18%;
    height: 100%;
    border-radius: 50%;
}
.filter-Off{
    /* padding: 20px; */
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.filter-On{
    /* padding: 20px; */
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;   
}

.filter_button-Off{
    border: 2px solid black;
    border-radius: 20px;
    width :10%;
    height: 70%;
    background-color: black;
    color: var(--prim-color);
    font: 400 16px var(--sec_font);
}

.filter_button-On{
    border: 2px solid black;
    border-radius: 20px;
    width :10%;
    height: 70%;
    background-color: black;
    color: var(--prim-color);
    font: 400 16px var(--sec_font);
}