body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-ServicesPage{
    display: flex;
    justify-content: center ;
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
}
.ques{
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}
.services{
    
}